<h1>Login!</h1><br>
<%= form_tag(sessions_path) do %>
  <%= label_tag :name, "Username:" %>
  <%= text_field_tag :name, nil, :placeholder => "Login with username" %><br>

  <%= label_tag :password, "Password" %>
  <%= text_field_tag :password, nil, :placeholder => "Password" %><br>

  <%= submit_tag "Login" %>
<% end %>
