<h1>Edit User</h1>

<%= form_for @user do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :cohort_id %>
  <%= f.collection_select :cohort_id, Cohort.all, :id, :name %>

  <%= f.submit %>

<% end %>
<br>
