<div class="loginmodal-container">
  <h1>PLANKAROO</h1>
	<h2>New User</h2><br>
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_for @user do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :password %>
    <%= f.text_field :password %><br>

    <%= f.label :cohort_id %>
    <%= f.collection_select :cohort_id, Cohort.all, :id, :name %><br><br>

    <%= f.submit %>

  <% end %>
  <div class="login-help">
	<%= link_to "Login", login_path %>
  </div>
</div>
