
  <h1><%= @user.name %></h1>

  <h2><%= link_to @user.cohort.name, @user.cohort %></h2>

  <br>
  <h2>STATS:</h2>
  <div class="row">
    <div class="col-sm">
      <h3>Total Time:</h3>
      <%= @user.total_time %>
    </div>
    <div class="col-sm">
      <h3>Best Time:</h3>
      <%= @user.best_time %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h3>Percent of Cohort Total:</h3>
      <%= number_to_percentage(@user.percent_of_cohort, precision: 2) %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h3>Best Plank Rank:</h3>
      <%= @user.better_best_plank_rank %>
    </div>
    <div class="col-sm">
      <h3>Total Plank Rank:</h3>
      <%= @user.total_plank_rank %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <% if session[:user_id] == @user.id %>
        <ul><h3>Recent Planks:</h3>
          <% @user.sorted_planks.each do |plank| %>
            <li><%= plank.plank_time %> - <%= link_to plank.event.display_date, plank.event %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="col-sm">
      <% if session[:user_id] == @user.id %>
        <ul><h3>Uncompleted Planks:</h3>
          <% @user.uncompleted_planks.each do |plank| %>
            <li><%= link_to plank.event.display_date, edit_plank_path(plank) %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
