<h1><%= @user.name %></h1>

<h2><%= link_to @user.cohort.name, @user.cohort %></h2>

<h3><%= link_to "Plank Club dates", events_path %></h3>

<h3><%= link_to "Sign Up For A Plank!", new_plank_path %></h3>

<ul><h3>Planks:</h3>
  <% @user.events.each do |event| %>
    <li><%= link_to event.display_date, event %>-------------<%= Plank.find_by(user_id: @user.id, event_id: event.id).plank_time %></li>
  <% end %>
</ul>
<br>

<br><br><br>

<%= link_to "Logout", logout_path %>
